<% provide(:title, "About")%>

<div class="content__container">
    <h1 class="title">
        About TaskFlow
    </h1>
    <h4 class="description">
        We believe that task management shouldn't be complicated. TaskFlow was created to help you focus
        on what matters most while keeping everything organized and beautiful.
    </h4>
</div>
