<% provide(:title, "Home")%>

<div class="content__container">
    <h1 class="title">
        Organize Your Tasks Beautifully
    </h1>
    <h4 class="description">
        TaskFlow transforms the way you manage tasks with an intuitive Kanban board,
        stunning design, and powerful features that keep you focused and productive.
    </h4>
    <div>
        <%= link_to "Start Free Today",  '#', class: "btn btn--gradient btn--large btn--hover--scale"%>
        <%= link_to "Learn More",  about_static_pages_url, class: "btn btn--border btn--large btn--hover--transparent"%>
    </div>


</div>
