<div style="width: 100%; display: flex; justify-content: center">
  <div style="
    padding: 20px 64px;
    border: 10px solid black;
    border-radius: 16px;
  ">
    <h1 style="
      width: 100%;
      text-align: center;
      background: linear-gradient(to left,rgb(116, 150, 231),rgb(233, 54, 84));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    "><%= title %></h1>

    <p style="font-size: 20px">
      <%= message %>
    </p>
    <%= link %>
  </div>
</div>
