<div
  data-controller="alert"
  data-alert-timeout-value="20000"
  data-alert-target="box"
  class="alert alert--<%= type %>"
>
  <p><%= message %></p>
  <button data-action="alert#close" class="close">X</button>
</div>
